@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  font-family: "Raleway", sans-serif;
}

.font-krona {
  font-family: "Krona One", sans-serif;
}

.font-raleway {
  font-family: "Raleway", sans-serif;
}

.animated-gradient-text {
  color: transparent;
  background: linear-gradient(
    266.9deg,
    #59a5ff 1.94%,
    #7847ff 63.44%,
    #cab8ff 111.26%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient 2s ease infinite;
}

.candy-gradient-text {
  background: linear-gradient(271.38deg, #8966ea 9.64%, #76b5ff 13.14%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.candy-bg {
  background: linear-gradient(
    90.99deg,
    #59a5ff 7.06%,
    #7847ff 56.44%,
    #8961ff 100%
  );
}

.candy-border {
  border: 1px solid;
  border-image: linear-gradient(
      98.26deg,
      #59a5ff -20.65%,
      #7847ff 53.95%,
      #cab8ff 115.77%
    )
    1;
}

.cursor-newtab {
  cursor: url("/media/new-tab.png") 10 10, pointer;
}

@keyframes gradient {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}
